<a href="https://colab.research.google.com/github/sepse/COVAir-Balkans/blob/main/balkan_explore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime

url = '/content/drive/MyDrive/Colab Notebooks/Balkan Air&COVID/air/32198_Prishtina.csv'
df= pd.read_csv(url, parse_dates=['timestamp'])

df.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2
0,32198,SDS011,18699,42.646,21.148,2019-10-15 11:15:23,15.35,NaN,NaN,8.35,NaN,NaN
1,32198,SDS011,19221,42.656,21.156,2019-10-15 11:17:51,15.72,NaN,NaN,7.90,NaN,NaN
2,32198,SDS011,19221,42.656,21.156,2019-10-15 11:20:19,14.38,NaN,NaN,7.62,NaN,NaN
3,32198,SDS011,19221,42.656,21.156,2019-10-15 11:22:46,14.07,NaN,NaN,8.63,NaN,NaN
4,32198,SDS011,19221,42.656,21.156,2019-10-15 11:25:14,29.23,NaN,NaN,11.33,NaN,NaN

In [ ]:
clean=df.drop(['sensor_type', 'durP1', 'ratioP1', 'durP2', 'ratioP2'], axis=1)
clean.head(5)

   sensor_id  location     lat     lon           timestamp     P1     P2
0      32198     18699  42.646  21.148 2019-10-15 11:15:23  15.35   8.35
1      32198     19221  42.656  21.156 2019-10-15 11:17:51  15.72   7.90
2      32198     19221  42.656  21.156 2019-10-15 11:20:19  14.38   7.62
3      32198     19221  42.656  21.156 2019-10-15 11:22:46  14.07   8.63
4      32198     19221  42.656  21.156 2019-10-15 11:25:14  29.23  11.33